@import url('variables.css');

body{
    color: var(--text_color);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

section > p{
    padding: 10px 10px;
}

.about > h2{
    background-color: var(--text_BackgroundColor);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
    max-width: 170px;
}

.education > h2{
    background-color: var(--text_BackgroundColor);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
    max-width: 170px;
}

.work > h2{
    background-color: var(--text_BackgroundColor);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
    max-width: 115px;
}

.hobbies > h2{
    background-color: var(--text_BackgroundColor);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
    max-width: 150px;
}

.values > h2{
    background-color: var(--text_BackgroundColor);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
    max-width: 390px;
}

.separation{
    margin-top: 20px;
    height: 2px;
    background: var(--separation-color);
    border: none;
    width: 100%;
    max-width: 400px;
}