@import url('variables.css');

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    flex-wrap: wrap;
}
form > h2{
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

form{
    background-color: var(--SectionColor);
    border: var(--form_border);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow:var(--form_boxShadow);
    width: 100%;
    max-width: 340px;
    height: auto;
}
form > label{
    font-weight: bold;
}
form > select{
    margin-top: 5px;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
}
.price, .remove{
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.price{
    margin-bottom: 12px;
    background-color:var(--submit_btn);
    font-weight: bold;
    width: 100%;
    padding: 5px;
}
.remove{
    background-color: var(--reset_btn);
    font-weight: bold;
    width: 100%;
    padding: 5px;

}

.data{
    background-color: var(--SectionColor);
    border-radius: 5px;
    box-shadow: var(--data_boxShadow);
    width: 70%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: none;
}
.data > h4{
    margin-bottom: 5px;
}

.data > p{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 5px;
}

.total-price{
    justify-content: center;
    font-weight: bold;
    margin-top: 10px;
    background-color: var(--totalPrice_BackgroundColor);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

@media only screen and (max-width: 767px){

   form > h2 {
    font-size: 22px;
    text-align: center;
  }

   select, input[type="radio"] {
    font-size: 14px;
  }

  .price, .remove {
    font-size: 15px;
    margin-top: 10px;
  }
  .data p {
    font-size: 14px;
  }
}