*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(169, 168, 225);
    height: 100px;
    padding: 10px 10%;
}
.nav_container{
    display: flex;
    /* justify-content: center; */
    position: relative;
}
nav{
    position: fixed;
    top:0;
    z-index: 1;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

nav ul {
    display:flex ;
    list-style:none;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black; 
}
.logo_container{
    display: flex;
}
.logo {
    width: 100px;
    height: auto;
    max-width: 100%;
}

