*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Nav_BackgroundColor: #e6d8f7;
    --main_BackgroundColor: white;
    --li_BackgroundColor: white;
    --a_BackgroundColor: black;
    --BG_color: rgb(243, 243, 243);
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--BG_color)
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:var(--Nav_BackgroundColor);
    z-index: 10;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
nav ul {
    display: flex;
    gap: 55px;
    list-style: none;
  }
  
nav ul li a {
    text-decoration: none;
    color: var(--a_BackgroundColor);
    font-weight: bold;
}

nav ul li a:hover ,
nav ul li a.active{
    background-color: var(--li_BackgroundColor);
    border-radius: 2px;
}

.logo_container{
   display: flex;
   align-items: center;
   margin-right: 30px;
   margin-left: 30px;
}
.logo {
    width: 160px;
    height: auto;
}

main{
    width: 620px;
    height: 600px;
    border-radius: 10px;
    border-style:groove;
    margin: 120px auto ;
    padding: 10px;
    background-color: var(--main_BackgroundColor);
}

footer{
    background-color: var(--Nav_BackgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
}

@media only screen and (max-width: 767px)
{
    .hamburger{
        display: block;
    }
    
}






