@import url('variables.css');

.hero_section {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px;
 background-color: var(--SectionColor) ;
 border-radius: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
    gap: 10px;
}

.picture{
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
}

button{
 padding: 5px;
 color:var(--btn_color);
 background-color: var(--btn_BackgroundColor);
 border-radius: 5px;
 font-weight: bold;
}

button:hover{
    background-color:var(--btnHover) ;
}

.CallToAction{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.col1, .col2{
    padding: 10px;
    background-color: var(--SectionColor) ;
    border-radius: 10px;
    height: auto;
    width:100% ;
}

.contact-info h2{
    margin-bottom: 12px;
}

.contact-info a{
    display:flex ;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--a_color);
}

.contact-info a i {
    margin-right: 8px;
}

.project-info {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.project-info h2{
    margin-bottom: 12px;
}
.project-info p{
    text-align: justify;
    margin-bottom: 12px;
}
.project-info a{
    color: var(--a_color);
    font-weight: bold;
    font-style:oblique;
    text-decoration: none;
    margin-bottom: 5px;
    background-color: var( --Nav_footer_BackgroundColor);
    border-radius: 4px;
    padding: 5px 5px;
    /* color:var(--btn_color); */
}

.project-info a:hover{
    text-decoration: underline;
}
.budapestImg{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 12px;
    border-radius: 15px;
    transition:transform 0.3s ease;
}

.budapestImg:hover{
transform: scale(1.01);
}

@media only screen and (max-width:767px){
    .hero_section{
        flex-direction: column;
        text-align: center;
    }
    
    .CallToAction{
        flex-wrap: wrap;
    }
}