:root{
    --SectionColor: #DFE3EE;
    --btn_color: #8b9dc3;
    --fontColor: white;
    --btnHover: #94a0ba ;
}

.hero_section{
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
background-color: var(--SectionColor) ;
border-radius: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 16px;
}

.text h1{
    margin-bottom: 5px;
}

.picture{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
}

button{
padding: 5px;
color:var(--fontColor);
background-color: var(--btn_color);
border-radius: 5px;
font-weight: bold;
}

button:hover{
    background-color:var(--btnHover) ;
}

.CallToAction{
    display: flex;
    margin-top: 20px;
}

.col1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--SectionColor) ;
    border-radius: 10px;
    height: 200px;
    width:300px ;
}
.col2{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--SectionColor) ;
    border-radius: 10px;
    height: 200px;
    width:300px ;
    margin-left: 10px;
}