@import url('variables.css');

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.section > h2{
    color: var(--Nav_footer_BackgroundColor);
    margin-bottom: 20px;
}

.section > h4{
    margin-top: 5px;
    margin-bottom: 5;
}

.section ul li{
    display: flex;
    list-style: none;
    margin-bottom: 5px;
    
}

.separation{
    margin-top: 20px;
    height: 2px;
    background: var(--separation-color);
    border: none;
    width: 100%;
    max-width: 400px;
}
