/* variables.css */
:root {
  --Nav_footer_BackgroundColor: #547792;
  --main_BackgroundColor: white;
  --active_BackgroundColor: rgb(255, 255, 255);
  --Nav_footer_color: rgb(0, 0, 0);
  --body_color: rgb(232, 228, 228);
  --a_color: black;
  --SectionColor: rgb(232, 228, 228);
  --text_color: black;
  --text_BackgroundColor: none;
  --btn_BackgroundColor: #547792;
  --btn_color: white;
  --btnHover: #697693 ;
  --separation-color: linear-gradient(to right, #3a4795, #334ddd);
  --reset_btn: rgb(228, 123, 123);
  --submit_btn: rgb(121, 193, 143);
  --totalPrice_BackgroundColor: rgb(255, 255, 255);
  --data_boxShadow: 0 4px 12px rgba(86, 86, 86, 0.7);
  --form_boxShadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  --form_border: 1.5px solid;
  --picture_boxShadow: 0 4px 12px rgba(31, 31, 31, 0.9);
}

/* Dark Mode */
body.darkMode_colors{
  --Nav_footer_BackgroundColor: #2c3e50;
  --main_BackgroundColor: #1a252f;
  --active_BackgroundColor: #516e8c;
  --body_color:#211f1f; 
  --Nav_footer_color: white;
  --SectionColor: rgb(185, 185, 185);
  --text_color: white;
  --text_BackgroundColor: #516e8c;
  --btn_BackgroundColor: #2c3e50;
}

